@model IEnumerable<ProyectoModels.Models.Municipio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Municipio 
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Departamento Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartamentoNavigation.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMunicipio">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMunicipio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
