@model IEnumerable<ProyectoModels.Models.Contact>

@{
    ViewData["Title"] = "addresses";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h1>Contacts</h1>

<p>
    <a asp-action="addressesCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMunicipioNavigation.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMunicipioNavigation.IdDepartamentoNavigation.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.HomeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMunicipioNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMunicipioNavigation.IdDepartamentoNavigation.Name)
            </td>
            <td>
                <a asp-action="addressesEdit" asp-route-id="@item.IdContact">Edit</a> |
                <a asp-action="addressesDelete" asp-route-id="@item.IdContact">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
