@model ProyectoModels.Models.Product
@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="row mx-auto" >
    <div class="col-5 d-flex justify-content-end">
        <img src="@Model.Photo">
    </div>
    <div class="col-4 mx-auto">
        <div>
            <h3 class="card-title">@Model.Name</h3>
            <p class="card-text">@Model.Description</p>
            <p class="card-text">Price: @Model.Price</p>
            <p class="card-text">Stock: @Model.Stock</p>

            <form method="post" asp-controller="ShoppingCart" asp-action="Create">
                <input type="hidden" value="@ViewBag.user" name="IdUser"/>
                <input type="hidden" value="@Model.IdProduct" name="IdProduct"/>
                <input type="submit" value="Agregar al carrito" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>
